<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <p class="style-text caps-text">
      <a href="https://capscollective.com">Caps Collective</a> is an open-source, indie dev collective based in Sydney, Australia.
      <br> To follow, contact, and connect with us, please check us out at these links:
    </p>

    <div class="social-links">
      <a href="" onclick="openEmail(); return false;" style="text-decoration:none">
        <i class="fas fa-envelope social-icon"></i>
      </a>
    	{%- for entry in site.minima.social_links -%}
    		{%- include social-item.html item = entry -%}
    	{%- endfor -%}
    </div>

  </div>

</footer>