<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a href="https://capscollective.com">
      <img src="{{ "assets/img/cc_header.png" | relative_url }}" width="200px" />
    </a>

    {% if page.url != "/" %}
    <div class="page-links">
      <a class="page-link accent-font" href="{{ "/" | relative_url }}">Blog Home</a>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          {% if my_page.url != "/" %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
    {%- endif -%}
    
  </div>
</header>