<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="{{ "/assets/img/link_preview.png" | absolute_url }}"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ "/assets/img/link_preview.png" | absolute_url }}">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}

  <link href="{{ "/assets/fontawesome/css/all.css" | relative_url }}" rel="stylesheet">
  <script src="{{ "/assets/js/script.js" | relative_url }}"></script>
</head>
