@charset "utf-8";

$color-scheme-auto: true;
$color-scheme-dark: false;

@import "minima/skins/auto";

$caps-color: #A6E2D1;
$brand-color: #000000;
$link-color: #DE5349;

$link-base-color: $link-color;
$link-visited-color: $link-color;
$link-hover-color: $link-color;

.body {
	background-color: $caps-color;
}

.caps-text {
	color: $brand-color;
}

.text-element {
	color: $text-color !important;
}

.style-text {
	font-family: Arial Rounded MT;
	src: url('../fonts/ArialRoundedBold.ttf');
}

.bold {
	font-weight: bold;
}

.indent {
	padding-left: 20px;
}

.site-nav {
	margin-top: 10px;
}

.page-link {
	color: $link-color !important;
	font-size: 1.2em;
}

.social-links {
	text-align: center;
}

.social-icon {
	font-size: 1.3em;
	color: $brand-color;
	margin-left: 5px;
	margin-right: 5px;
}

.social-icon:hover {
	color: $link-color;
}

.social-icon-sm {
	font-size: 1.1em;
	margin-left: 3px;
	margin-right: 3px;
	color: $text-color;
}

.social-icon-sm:hover {
	color: $link-color;
}

.site-header {
	margin-top: 10px;
	border-top: 0px !important;
	border-bottom: 0px !important;
	margin-bottom: 10px;
}

.page-links {
	display: inline-block;
	position: static;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.site-footer {
	padding: 0px !important;
	padding-bottom: 20px !important;
	text-align: center;
  	border-top: 0px !important;
}

.p-author {
	font-weight: bold;
}

@font-face {
	font-family: Arial Rounded MT;
	font-weight: bold;
	src: url('../fonts/ArialRoundedBold.ttf');
}

$accent-font-family: Arial Rounded MT;

h1, h2, .accent-font {
	font-family: $accent-font-family;
}

.code-tag {
	color: $text-color;
	background-color: $background-color;
	border-color: $text-color;
	font-size: 12px;
}

.code-tag-index {
	color: $brand-color;
	background-color: $caps-color;
	border-color: $brand-color;
	font-size: 12px;
}

.paper-sheet {
	background-color: $background-color;
	@media screen and (min-width: 800px) {
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 5px;
	 }
}

.post-link {
  font-size: 18px !important;
}